.*.swp
 
._*
 
.DS_Store
 
.git
 
.hg
 
.npmrc
 
.lock-wscript
 
.svn
 
.wafpickle-*
 
config.gypi
 
CVS
 
npm-debug.log

.eslint*
.gitignore
.npmignore
.prettierrc.js

tsconfig.json

build/

#src下除template目录外都不保留(template中的模板不是ts，不会被编译到bin目录)
src/*
!src/template/